node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Node modules
node_modules/

# Logs
*.log

# Playwright reports
playwright-report/
allure-report/

# Allure results
allure-results

# Miscellaneous
.DS_Store
.idea/
.vscode/
*.swp